In [14]:
import numpy as np
import pandas as pd

In [15]:
df=pd.read_csv("D:\\Download\\Airbnb_Open_Data.csv")
df

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_3112\3055135559.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("D:\\Download\\Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [4]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

Data Cleaning on Airbnb Open Data

1.Id columns:

Cleaning: # Remove any duplicate entries based on id and drop rows with missing id.
There should be no duplicates or missing IDs as each listing should be unique.

In [5]:
df.id.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
102594     True
102595     True
102596     True
102597     True
102598     True
Name: id, Length: 102599, dtype: bool

In [6]:
df.id.isnull().sum()

np.int64(0)

In [7]:
df.id.duplicated().sum()

np.int64(541)

In [8]:
df.drop_duplicates(subset="id",inplace=True)

In [9]:
df.dropna(subset=["id"],inplace=True)

In [180]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

2.Name column

Cleaning: Handle missing values, strip excess whitespace, and remove non-ASCII characters.

a. # Remove leading/trailing whitespaces(use strip()) b. # Drop rows where name is missing c. # Remove non-alphanumeric characters

name should be meaningful and not contain unnecessary spaces or special characters.

In [181]:
df.NAME

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                                                      NaN
4         Entire Apt: Spacious Studio/Loft by central park
                                ...
102053                 Cozy bright room near Prospect Park
102054           Private Bedroom with Amazing Rooftop View
102055       Pretty Brooklyn One-Bedroom for 2 to 4 people
102056          Room & private bathroom in historic Harlem
102057                                     Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [182]:
df.NAME.isnull().sum()

np.int64(250)

In [183]:
df["NAME"] = df["NAME"].str.strip()
df["NAME"]

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                                                      NaN
4         Entire Apt: Spacious Studio/Loft by central park
                                ...
102053                 Cozy bright room near Prospect Park
102054           Private Bedroom with Amazing Rooftop View
102055       Pretty Brooklyn One-Bedroom for 2 to 4 people
102056          Room & private bathroom in historic Harlem
102057                                     Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [184]:
df["NAME"] = df["NAME"].str.replace(r'[^a-zA-Z0-9 ]+', '', regex=True)
df["NAME"]

0                      Clean  quiet apt home by the park
1                                  Skylit Midtown Castle
2                         THE VILLAGE OF HARLEMNEW YORK
3                                                    NaN
4         Entire Apt Spacious StudioLoft by central park
                               ...
102053               Cozy bright room near Prospect Park
102054         Private Bedroom with Amazing Rooftop View
102055      Pretty Brooklyn OneBedroom for 2 to 4 people
102056         Room  private bathroom in historic Harlem
102057                                   Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [185]:
df = df.dropna(subset=['NAME'])
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn OneBedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [186]:
df["NAME"].value_counts()

NAME
                                                    103
Home away from home                                  40
Hillside Hotel                                       30
Water View King Bed Hotel Room                       30
New york Multiunit building                          27
                                                   ...
Wonderful Guest Bedroom in Manhattan for SINGLES      1
Lovely Room 1 Garden Best Area Legal rental           1
Central Manhattannear Broadway                        1
Beautiful 1br on Upper West Side                      1
Cute  Cozy Lower East Side 1 bdrm                     1
Name: count, Length: 60885, dtype: int64

In [187]:
df["NAME"].isnull().sum()

np.int64(0)

In [188]:
df.dropna(subset=["NAME"], inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2319560313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=["NAME"], inplace=True)

3.Host id column

Cleaning: Check for duplicates, missing values, and ensure it's a numeric column.

a. # Convert to numeric, coerce errors to NaN b. # Drop rows where host_id is missing

Host ID should be a numeric value, and any missing or erroneousvalues should be handled.

In [189]:
df.rename(columns={"host id":"host_id"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\3442264593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"host id":"host_id"},inplace=True)

In [190]:
df.head(2)

,id,NAME,host_id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN

In [191]:
df["host_id"].replace("", np.nan).isnull().sum()

np.int64(0)

4.Host name column

Cleaning: Handle missing values and clean any inconsistencies in formatting.

a. # Remove leading/trailing whitespaces b. # Drop rows where host_name is missing c. # Remove non-alphanumeric characters

Missing host names should be dropped, and the names should be cleaned to avoid strange characters.

In [192]:
df.columns.tolist()

['id',
 'NAME',
 'host_id',
 'host_identity_verified',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'cancellation_policy',
 'room type',
 'Construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365',
 'house_rules',
 'license']

In [193]:
df["host name"]

0         Madaline
1            Jenna
2            Elise
4           Lyndon
5         Michelle
            ...
102053      Mariam
102054        Trey
102055     Michael
102056     Shireen
102057     Stanley
Name: host name, Length: 101808, dtype: object

In [194]:
df["host name"].isnull().sum()

np.int64(398)

In [195]:
df.rename(columns={"host name":"host_name"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1222916071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"host name":"host_name"},inplace=True)

In [196]:
df["host_name"].str.strip()

0         Madaline
1            Jenna
2            Elise
4           Lyndon
5         Michelle
            ...
102053      Mariam
102054        Trey
102055     Michael
102056     Shireen
102057     Stanley
Name: host_name, Length: 101808, dtype: object

In [197]:
df["host_name"].str.replace("[^a-zA-Z0-9 ]","",regex=True)

0         Madaline
1            Jenna
2            Elise
4           Lyndon
5         Michelle
            ...
102053      Mariam
102054        Trey
102055     Michael
102056     Shireen
102057     Stanley
Name: host_name, Length: 101808, dtype: object

In [198]:
df.dropna(subset="host_name",inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\4214010060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset="host_name",inplace=True)

+5. Neighbourhood column:

Cleaning: Handle missing values and normalize the neighborhood names.
    
a. # Drop rows where neighbourhood is missing
b. # Standardize the names (e.g., capitalize first letters)
c. Missing neighbourhood information should be dropped, and
normalization helps with consistency (e.g.,central park->Central Park).

In [68]:
df["neighbourhood"].dropna(inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2166114010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["neighbourhood"].dropna(inplace=True)

In [69]:
df["neighbourhood"] = df["neighbourhood"].str.strip().str.title()
df["neighbourhood"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2524584289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["neighbourhood"] = df["neighbourhood"].str.strip().str.title()

0                 Kensington
1                    Midtown
2                     Harlem
4                East Harlem
5                Murray Hill
                 ...
102053              Flatbush
102054              Bushwick
102055    Bedford-Stuyvesant
102056                Harlem
102057                Harlem
Name: neighbourhood, Length: 101410, dtype: object

In [70]:
df["neighbourhood"].value_counts()

neighbourhood
Bedford-Stuyvesant        7847
Williamsburg              7678
Harlem                    5395
Bushwick                  4928
Hell'S Kitchen            3922
                          ...
Rossville                    3
Gerritsen Beach              3
Fort Wadsworth               2
Glen Oaks                    2
Chelsea, Staten Island       1
Name: count, Length: 224, dtype: int64

6.Latitude and longitude:

Cleaning: Check for missing values and invalid coordinates (latitude should be between -90 and 90, longitude between -180 and 180).

a. # Drop rows where coordinates are missing b. # Latitude should be between -90 and 90 c. # Longitude should be between -180 and 180

Geographical coordinates must be valid. Any row with invalid or missing coordinates should be dropped.

In [71]:
df = df.dropna(subset=['lat', 'long'])
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn OneBedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [72]:
df.columns

Index(['id', 'NAME', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [73]:
df['lat'].dropna(inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2667972490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'].dropna(inplace=True)

In [74]:
df['long'].dropna(inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\3829069492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'].dropna(inplace=True)

In [75]:
df = df[(df['lat'] >= -90) & (df['lat'] <= 90)]
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn OneBedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [76]:
df = df[(df["long"] >= -180) & (df["long"] <= 180)]
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn OneBedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [77]:
df.head()

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN

7.Clean country ,country code ,instant bookable,cancellation policy(we can also remove this column but practice you clean it)

In [78]:
df["country"] = df["country"].str.strip().fillna("Unknown")
df["country"]

0         United States
1         United States
2         United States
4         United States
5         United States
              ...
102053    United States
102054    United States
102055    United States
102056    United States
102057    United States
Name: country, Length: 101402, dtype: object

In [79]:
df['country code'] = df['country code'].str.strip().fillna('Unknown')
df['country code']

0         US
1         US
2         US
4         US
5         US
          ..
102053    US
102054    US
102055    US
102056    US
102057    US
Name: country code, Length: 101402, dtype: object

In [80]:
df.columns

Index(['id', 'NAME', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [19]:
df["instant_bookable"] = df["instant_bookable"].astype(str).str.lower().map({'yes': True, 'no': False})
df["instant_bookable"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
102594    NaN
102595    NaN
102596    NaN
102597    NaN
102598    NaN
Name: instant_bookable, Length: 102599, dtype: object

In [82]:
df['instant_bookable'] = df['instant_bookable'].fillna(False)
df['instant_bookable']

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2432855205.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['instant_bookable'] = df['instant_bookable'].fillna(False)

0         False
1         False
2          True
4         False
5          True
          ...
102053     True
102054    False
102055     True
102056     True
102057    False
Name: instant_bookable, Length: 101402, dtype: bool

In [83]:
df.drop(columns=['cancellation_policy'], inplace=True)

8.room_type column:

Cleaning: Ensure consistency in the room types and handle missing values.

Drop rows where room_type is missing Normalize room type values (e.g., "entire home" -> "Entire Home/Apt") Missing values should be dropped, and normalization ensures room types are consistently formatted.

In [84]:
df.columns.tolist()

['id',
 'NAME',
 'host_id',
 'host_identity_verified',
 'host_name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'room type',
 'Construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365',
 'house_rules',
 'license']

In [85]:
df.rename(columns={"room type":"room_type"},inplace=True)

In [86]:
df.room_type.isnull().sum()

np.int64(0)

In [87]:
df.room_type

0            Private room
1         Entire home/apt
2            Private room
4         Entire home/apt
5         Entire home/apt
               ...
102053       Private room
102054       Private room
102055    Entire home/apt
102056       Private room
102057    Entire home/apt
Name: room_type, Length: 101402, dtype: object

In [88]:
df=df.dropna(subset='room_type')
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn OneBedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [89]:
df["room_type"]=df["room_type"].str.strip().str.title()
df["room_type"]

0            Private Room
1         Entire Home/Apt
2            Private Room
4         Entire Home/Apt
5         Entire Home/Apt
               ...
102053       Private Room
102054       Private Room
102055    Entire Home/Apt
102056       Private Room
102057    Entire Home/Apt
Name: room_type, Length: 101402, dtype: object

In [90]:
df.room_type.value_counts()

room_type
Entire Home/Apt    53130
Private Room       45961
Shared Room         2196
Hotel Room           115
Name: count, dtype: int64

In [91]:
df.rename(columns={"Construction year":"construction_year"},inplace=True)

In [92]:
df=df.dropna(subset="construction_year")
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102038,57356923,HUGE BEDROOM LORIMER L TRAIN,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,United States,...,NaN,28.0,17.0,4/30/2019,0.61,1.0,6.0,229.0,No smoking,NaN
102039,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,United States,...,NaN,2.0,49.0,5/23/2019,1.81,1.0,3.0,147.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,$196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN
102050,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,unconfirmed,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,United States,...,NaN,2.0,104.0,6/12/2019,3.69,5.0,1.0,268.0,NaN,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [93]:
df["construction_year"]=df["construction_year"].astype("int")
df["construction_year"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\679903635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["construction_year"]=df["construction_year"].astype("int")

0         2020
1         2007
2         2005
4         2009
5         2013
          ...
102038    2016
102039    2003
102040    2022
102050    2016
102057    2011
Name: construction_year, Length: 101203, dtype: int64

In [94]:
df.construction_year.unique()

array([2020, 2007, 2005, 2009, 2013, 2015, 2004, 2008, 2010, 2019, 2018,
       2006, 2016, 2017, 2021, 2003, 2011, 2012, 2022, 2014])

10.Price columns

Remove rows with non-positive prices, convert to numeric, and handle missing values. a. # Convert to numeric, coerce errors to NaN b. # Drop rows where price is missing

Price should be a positive number, and non-numeric values should be handled (e.g.,"$100" should be converted to 100).

In [95]:
df.columns

Index(['id', 'NAME', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'room_type', 'construction_year',
       'price', 'service fee', 'minimum nights', 'number of reviews',
       'last review', 'reviews per month', 'review rate number',
       'calculated host listings count', 'availability 365', 'house_rules',
       'license'],
      dtype='object')

In [96]:
df.price

0           $966
1           $142
2           $620
4           $204
5           $577
           ...
102038      $570
102039      $665
102040      $982
102050        NaN
102057    $1,128
Name: price, Length: 101203, dtype: object

In [97]:
df=df.dropna(subset="price")
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102037,57356371,Bx Apartment,11038605149,unconfirmed,Vii,Bronx,Olinville,40.88438,-73.86397,United States,...,NaN,1.0,0.0,NaN,NaN,3.0,1.0,0.0,#NAME?,NaN
102038,57356923,HUGE BEDROOM LORIMER L TRAIN,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,United States,...,NaN,28.0,17.0,4/30/2019,0.61,1.0,6.0,229.0,No smoking,NaN
102039,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,United States,...,NaN,2.0,49.0,5/23/2019,1.81,1.0,3.0,147.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,$196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [98]:
df["price"]=df["price"].str.strip()
df["price"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\3297439441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"]=df["price"].str.strip()

0           $966
1           $142
2           $620
4           $204
5           $577
           ...
102037      $531
102038      $570
102039      $665
102040      $982
102057    $1,128
Name: price, Length: 100968, dtype: object

In [99]:
df["price"]=df["price"].str.replace("[^\d]","",regex=True)
df["price"]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1015440914.py:1: SyntaxWarning: invalid escape sequence '\d'
  df["price"]=df["price"].str.replace("[^\d]","",regex=True)
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1015440914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"]=df["price"].str.replace("[^\d]","",regex=True)

0          966
1          142
2          620
4          204
5          577
          ...
102037     531
102038     570
102039     665
102040     982
102057    1128
Name: price, Length: 100968, dtype: object

In [100]:
df["price"].isnull().sum()

np.int64(0)

In [101]:
df["price"]=df["price"].replace("",np.nan,regex=True)
df["price"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1239401813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"]=df["price"].replace("",np.nan,regex=True)

0          966
1          142
2          620
4          204
5          577
          ...
102037     531
102038     570
102039     665
102040     982
102057    1128
Name: price, Length: 100968, dtype: object

11.Clean service fee column

In [102]:
df.rename(columns={"service fee":"service_fee"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\16048745.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"service fee":"service_fee"},inplace=True)

In [103]:
df.service_fee

0         $193
1          $28
2         $124
4          $41
5         $115
          ...
102037      NaN
102038      NaN
102039      NaN
102040    $196
102057      NaN
Name: service_fee, Length: 100968, dtype: object

In [104]:
df["service_fee"]=df["service_fee"].str.strip()
df["service_fee"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2406749242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["service_fee"]=df["service_fee"].str.strip()

0         $193
1          $28
2         $124
4          $41
5         $115
          ...
102037     NaN
102038     NaN
102039     NaN
102040    $196
102057     NaN
Name: service_fee, Length: 100968, dtype: object

In [105]:
df["service_fee"]=df["service_fee"].str.replace("[^\d]","",regex=True)
df["service_fee"]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1597550619.py:1: SyntaxWarning: invalid escape sequence '\d'
  df["service_fee"]=df["service_fee"].str.replace("[^\d]","",regex=True)
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1597550619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["service_fee"]=df["service_fee"].str.replace("[^\d]","",regex=True)

0         193
1          28
2         124
4          41
5         115
         ...
102037    NaN
102038    NaN
102039    NaN
102040    196
102057    NaN
Name: service_fee, Length: 100968, dtype: object

In [106]:
df["service_fee"].isnull().sum()

np.int64(233)

In [107]:
df["service_fee"]=df["service_fee"].replace("",np.nan,regex=True)
df["service_fee"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\943227043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["service_fee"]=df["service_fee"].replace("",np.nan,regex=True)

0         193
1          28
2         124
4          41
5         115
         ...
102037    NaN
102038    NaN
102039    NaN
102040    196
102057    NaN
Name: service_fee, Length: 100968, dtype: object

In [108]:
df=df.dropna(subset="service_fee")
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9.0,4/25/2019,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36.0,6/27/2018,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58.0,6/10/2019,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40.0,6/23/2019,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

12. minimum nights column:

Cleaning: Ensure the value is positive, and handle missing or invalid data.

Convert to numeric Drop rows where minimum_nights is missing Ensure minimum_nights is positive

Negative or missing values for minimum nights should be removed

In [111]:
df.rename(columns={"minimum nights":"min_nights"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\179155326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"minimum nights":"min_nights"},inplace=True)

In [112]:
df['min_nights'].value_counts()

min_nights
 1.0      24980
 2.0      23218
 3.0      15848
 30.0     11380
 4.0       6521
          ...
-125.0        1
 125.0        1
 34.0         1
 458.0        1
 825.0        1
Name: count, Length: 151, dtype: int64

In [113]:
df=df.dropna(subset="min_nights")
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9.0,4/25/2019,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36.0,6/27/2018,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58.0,6/10/2019,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40.0,6/23/2019,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

In [114]:
df["min_nights"]=df["min_nights"].replace("[^\d]","",regex=True)
df["min_nights"]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1848952706.py:1: SyntaxWarning: invalid escape sequence '\d'
  df["min_nights"]=df["min_nights"].replace("[^\d]","",regex=True)
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1848952706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["min_nights"]=df["min_nights"].replace("[^\d]","",regex=True)

0         10.0
1         30.0
2          3.0
4         10.0
5          3.0
          ...
102029     1.0
102030     4.0
102031     1.0
102032     7.0
102040     1.0
Name: min_nights, Length: 100353, dtype: float64

In [115]:
df["min_nights"].isnull().sum()

np.int64(0)

 13. number_of_reviews columns
Cleaning: Ensure it's numeric, handle missing values, and remove negative values.

a. # Convert to numeric b. # Drop rows where number_of_reviews is missing c. # Ensure reviews are non-negative

Reviews should always be non-negative, and missing values should be handled.

In [116]:
df.columns.tolist()

['id',
 'NAME',
 'host_id',
 'host_identity_verified',
 'host_name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'room_type',
 'construction_year',
 'price',
 'service_fee',
 'min_nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365',
 'house_rules',
 'license']

In [117]:
df.rename(columns={"number_of_reviews":"number_of_reviews"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\523116217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"number_of_reviews":"number_of_reviews"},inplace=True)

In [118]:
df["number of reviews"].value_counts()

number of reviews
0.0      15436
1.0      10150
2.0       7010
3.0       5262
4.0       4058
         ...
418.0        1
328.0        1
480.0        1
351.0        1
300.0        1
Name: count, Length: 474, dtype: int64

In [119]:
df=df.dropna(subset=["number of reviews"])
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEMNEW YORK,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9.0,4/25/2019,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36.0,6/27/2018,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58.0,6/10/2019,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40.0,6/23/2019,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239.0,6/29/2019,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

In [120]:
df["number of reviews"]=df["number of reviews"].replace("[^\d]","",regex=True)
df["number of reviews"]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1048091220.py:1: SyntaxWarning: invalid escape sequence '\d'
  df["number of reviews"]=df["number of reviews"].replace("[^\d]","",regex=True)
C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\1048091220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["number of reviews"]=df["number of reviews"].replace("[^\d]","",regex=True)

0           9.0
1          45.0
2           0.0
4           9.0
5          74.0
          ...
102029      9.0
102030     36.0
102031     58.0
102032     40.0
102040    239.0
Name: number of reviews, Length: 100173, dtype: float64

In [121]:
df["number of reviews"]=df["number of reviews"].astype("int")
df["number of reviews"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2276800801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["number of reviews"]=df["number of reviews"].astype("int")

0           9
1          45
2           0
4           9
5          74
         ...
102029      9
102030     36
102031     58
102032     40
102040    239
Name: number of reviews, Length: 100173, dtype: int64

In [122]:
df["number of reviews"].isnull().sum()

np.int64(0)

14. last_review

Cleaning: Convert to datetime format, handle missing values

a. # Convert to datetime b. # Drop rows where last_review is missing

The date should be in a valid format, and any rows without a valid date should be dropped.

In [123]:
df.rename(columns={"last review":"last_review"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\246543365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"last review":"last_review"},inplace=True)

In [124]:
df.last_review

0         10/19/2021
1          5/21/2022
2                NaN
4         11/19/2018
5          6/22/2019
             ...
102029     4/25/2019
102030     6/27/2018
102031     6/10/2019
102032     6/23/2019
102040     6/29/2019
Name: last_review, Length: 100173, dtype: object

In [125]:
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
df['last_review']

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\3333762781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

0        2021-10-19
1        2022-05-21
2               NaT
4        2018-11-19
5        2019-06-22
            ...
102029   2019-04-25
102030   2018-06-27
102031   2019-06-10
102032   2019-06-23
102040   2019-06-29
Name: last_review, Length: 100173, dtype: datetime64[ns]

In [126]:
df = df.dropna(subset=['last_review'])
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last_review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,115,3.0,74,2019-06-22,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14,45.0,49,2017-10-05,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9,2019-04-25,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36,2018-06-27,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58,2019-06-10,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40,2019-06-23,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239,2019-06-29,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

In [127]:
df['last_review']

0        2021-10-19
1        2022-05-21
4        2018-11-19
5        2019-06-22
6        2017-10-05
            ...
102029   2019-04-25
102030   2018-06-27
102031   2019-06-10
102032   2019-06-23
102040   2019-06-29
Name: last_review, Length: 84713, dtype: datetime64[ns]

15. availability_365 column

Cleaning: Ensure the value is within the range [0, 365] and handle missing values.

a. # Convert to numeric b. # Drop rows where availability is missing c. # Ensure its within valid range

Availability should be a valid number between 0 and 365.

In [128]:
df.rename(columns={"availability 365":"availability_365"},inplace=True)

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\985627032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"availability 365":"availability_365"},inplace=True)

In [129]:
df['availability_365'] = pd.to_numeric(df['availability_365'], errors='coerce')
df['availability_365']

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\362780256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['availability_365'] = pd.to_numeric(df['availability_365'], errors='coerce')

0         286.0
1         228.0
4         289.0
5         374.0
6         224.0
          ...
102029      0.0
102030      0.0
102031    120.0
102032    148.0
102040    361.0
Name: availability_365, Length: 84713, dtype: float64

In [130]:
df = df.dropna(subset=['availability_365'])
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last_review,reviews per month,review rate number,calculated host listings count,availability_365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,115,3.0,74,2019-06-22,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14,45.0,49,2017-10-05,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9,2019-04-25,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36,2018-06-27,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58,2019-06-10,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40,2019-06-23,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239,2019-06-29,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

In [131]:
df = df[(df['availability_365'] >= 0) & (df['availability_365'] <= 365)]
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last_review,reviews per month,review rate number,calculated host listings count,availability_365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14,45.0,49,2017-10-05,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
7,1005202,BlissArtsSpace,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,212,45.0,49,2017-10-05,0.40,5.0,1.0,219.0,House Guidelines for our BnB We are delighted ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9,2019-04-25,0.91,3.0,1.0,0.0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36,2018-06-27,1.28,1.0,1.0,0.0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58,2019-06-10,2.08,5.0,2.0,120.0,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40,2019-06-23,1.51,1.0,5.0,148.0,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239,2019-06-29,8.58,2.0,2.0,361.0,1. Please clean-up after yourself in the kitch...,NaN

In [132]:
df['availability_365']=df['availability_365'].astype("int")
df['availability_365']

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\3945770954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['availability_365']=df['availability_365'].astype("int")

0         286
1         228
4         289
6         224
7         219
         ...
102029      0
102030      0
102031    120
102032    148
102040    361
Name: availability_365, Length: 82055, dtype: int64

In [133]:
df.availability_365

0         286
1         228
4         289
6         224
7         219
         ...
102029      0
102030      0
102031    120
102032    148
102040    361
Name: availability_365, Length: 82055, dtype: int64

16. reviews_per_month columns

Cleaning: Handle missing values and convert to numeric.

a. # Convert to numeric b. # Drop rows where reviews_per_month is missing c. # Ensure non-negative values

In [22]:
df["reviews per month"]=pd.to_numeric(df["reviews per month"],errors="coerce")
df["reviews per month"]

0         0.21
1         0.38
2          NaN
3         4.64
4         0.10
          ...
102594     NaN
102595    0.02
102596     NaN
102597    0.10
102598     NaN
Name: reviews per month, Length: 102599, dtype: float64

In [137]:
df=df.dropna(subset=["month_reviews"])
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last_review,month_reviews,review rate number,calculated host listings count,availability_365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9,2021-10-19,0.21,4.0,6.0,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45,2022-05-21,0.38,4.0,2.0,228,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9,2018-11-19,0.10,3.0,1.0,289,"Please no smoking in the house, porch or on th...",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14,45.0,49,2017-10-05,0.40,5.0,1.0,224,Please no shoes in the house so bring slippers...,NaN
7,1005202,BlissArtsSpace,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,212,45.0,49,2017-10-05,0.40,5.0,1.0,219,House Guidelines for our BnB We are delighted ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9,2019-04-25,0.91,3.0,1.0,0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36,2018-06-27,1.28,1.0,1.0,0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58,2019-06-10,2.08,5.0,2.0,120,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40,2019-06-23,1.51,1.0,5.0,148,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239,2019-06-29,8.58,2.0,2.0,361,1. Please clean-up after yourself in the kitch...,NaN

In [138]:
df["month_reviews"]=df["month_reviews"].replace("-","",regex=True)
df["month_reviews"]

C:\Users\Komal prakash mali\AppData\Local\Temp\ipykernel_8612\2740715579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month_reviews"]=df["month_reviews"].replace("-","",regex=True)

0         0.21
1         0.38
4         0.10
6         0.40
7         0.40
          ...
102029    0.91
102030    1.28
102031    2.08
102032    1.51
102040    8.58
Name: month_reviews, Length: 82045, dtype: float64

In [139]:
df["month_reviews"].value_counts()

month_reviews
0.03     1541
1.00     1431
0.05     1322
0.09     1182
0.04     1176
         ...
7.80        1
7.73        1
24.49       1
33.08       1
10.37       1
Name: count, Length: 1013, dtype: int64

In [140]:
df["month_reviews"].isnull().sum()

np.int64(0)

In [141]:
df["month_reviews"].replace("",np.nan,regex=True).isnull().sum()

np.int64(0)

In [142]:
df

,id,NAME,host_id,host_identity_verified,host_name,neighbourhood group,neighbourhood,lat,long,country,...,service_fee,min_nights,number of reviews,last_review,month_reviews,review rate number,calculated host listings count,availability_365,house_rules,license
0,1001254,Clean quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193,10.0,9,2021-10-19,0.21,4.0,6.0,286,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28,30.0,45,2022-05-21,0.38,4.0,2.0,228,Pet friendly but please confirm with me if the...,NaN
4,1003689,Entire Apt Spacious StudioLoft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41,10.0,9,2018-11-19,0.10,3.0,1.0,289,"Please no smoking in the house, porch or on th...",NaN
6,1004650,BlissArtsSpace,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14,45.0,49,2017-10-05,0.40,5.0,1.0,224,Please no shoes in the house so bring slippers...,NaN
7,1005202,BlissArtsSpace,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,212,45.0,49,2017-10-05,0.40,5.0,1.0,219,House Guidelines for our BnB We are delighted ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,...,164,1.0,9,2019-04-25,0.91,3.0,1.0,0,I have other roommates so be respectful of that.,NaN
102030,57352505,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,...,91,4.0,36,2018-06-27,1.28,1.0,1.0,0,NaN,NaN
102031,57353057,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,...,216,1.0,58,2019-06-10,2.08,5.0,2.0,120,- $150 Pet Fee - 14.45% Tax Will be adjusted i...,NaN
102032,57353610,Spacious Room w 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,...,21,7.0,40,2019-06-23,1.51,1.0,5.0,148,NaN,NaN
102040,57358028,Room in Queens NY near LGA,56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,...,196,1.0,239,2019-06-29,8.58,2.0,2.0,361,1. Please clean-up after yourself in the kitch...,NaN

16.drop remaining columns

In [143]:
df.columns

Index(['id', 'NAME', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'room_type', 'construction_year',
       'price', 'service_fee', 'min_nights', 'number of reviews',
       'last_review', 'month_reviews', 'review rate number',
       'calculated host listings count', 'availability_365', 'house_rules',
       'license'],
      dtype='object')

In [20]:
df.drop(columns=["host_identity_verified","neighbourhood group","review rate number","calculated host listings count","house_rules","license"],inplace=True)